* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 90px;
  height: 90px;
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  border-top: 10px solid #016f8e;
  border-bottom: 10px solid #0b4f6c;
  border-left: 10px solid white;
  border-right: 10px solid white;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
